In [31]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [32]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maumere,ID,2021-03-27 18:22:16,-8.6199,122.2111,79.99,82,78,5.14
1,1,Butaritari,KI,2021-03-27 18:22:16,3.0707,172.7902,81.16,78,96,13.78
2,2,Georgetown,MY,2021-03-27 18:22:17,5.4112,100.3354,82.40,89,20,5.66
3,3,Narsaq,GL,2021-03-27 18:18:32,60.9167,-46.0500,8.60,40,75,6.91
4,4,Catabola,AO,2021-03-27 18:22:17,-12.1500,17.2833,63.28,91,94,1.81

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [33]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [34]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [36]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [44]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maumere,ID,2021-03-27 18:22:16,-8.6199,122.2111,79.99,82,78,5.14
1,1,Butaritari,KI,2021-03-27 18:22:16,3.0707,172.7902,81.16,78,96,13.78
2,2,Georgetown,MY,2021-03-27 18:22:17,5.4112,100.3354,82.40,89,20,5.66
5,5,Sechura,PE,2021-03-27 18:22:17,-5.5569,-80.8222,81.86,54,63,7.90
11,11,Mahebourg,MU,2021-03-27 18:22:19,-20.4081,57.7000,75.20,94,75,6.91
12,12,Sabang,ID,2021-03-27 18:22:19,5.8933,95.3214,80.60,80,99,13.18
13,13,Galle,LK,2021-03-27 18:22:19,6.0367,80.2170,76.96,83,100,2.77
14,14,Rikitea,PF,2021-03-27 18:22:20,-23.1203,-134.9692,79.12,72,19,20.09
19,19,Tual,ID,2021-03-27 18:22:21,-5.6667,132.7500,82.99,78,98,11.18
26,26,Tarboro,US,2021-03-27 18:18:56,35.8968,-77.5358,75.20,64,90,6.91

In [45]:
preferred_cities_df.count()

City_ID       176
City          176
Country       175
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [46]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0      Maumere      ID     79.99  -8.6199  122.2111
1   Butaritari      KI     81.16   3.0707  172.7902
2   Georgetown      MY     82.40   5.4112  100.3354
5      Sechura      PE     81.86  -5.5569  -80.8222
11   Mahebourg      MU     75.20 -20.4081   57.7000
12      Sabang      ID     80.60   5.8933   95.3214
13       Galle      LK     76.96   6.0367   80.2170
14     Rikitea      PF     79.12 -23.1203 -134.9692
19        Tual      ID     82.99  -5.6667  132.7500
26     Tarboro      US     75.20  35.8968  -77.5358

In [47]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [66]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [67]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Maumere,ID,79.99,-8.6199,122.2111,Sylvia Hotel
1,Butaritari,KI,81.16,3.0707,172.7902,Isles Sunset Lodge
2,Georgetown,MY,82.40,5.4112,100.3354,Cititel Penang
5,Sechura,PE,81.86,-5.5569,-80.8222,Hospedaje Costa Bella
11,Mahebourg,MU,75.20,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
...,...,...,...,...,...,...
541,Bandarbeyla,SO,79.83,9.4942,50.8122,JABIR HOTEL
546,Bam,IR,82.36,29.1060,58.3570,Bam Tourist Hotel
548,Riberalta,BO,80.60,-10.9833,-66.1000,Hotel Colonial
549,Minab,IR,77.00,27.1467,57.0801,Bam campground
550,Doha,QA,82.40,25.2867,51.5333,Doha Marriott Hotel

In [62]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [64]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [65]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))